/*
    ==============================================
                ****** RESET ******
    ==============================================
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", serif;
  width: 100%;
  max-width: 1440px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: inherit;
  text-decoration-color: #f72210;
}

/*
      ==============================================
                  ****** GLOBAL ******
      ==============================================
 */

.bg-red {
  background-color: #f72210;
}

.text-red {
  color: #f72210;
}

/*
      ==============================================
                  ****** HEADER ******
      ==============================================
 */

header {
  width: 100%;
}

.top-nav {
  width: 100%;
}

.newsweek-icon {
  filter: invert(1);
  width: 132px;
}

.weather-icon {
  width: 24px;
}

.subscribe-btn {
  background-color: #ffe400;
  padding: 2px 12px;
  font-size: 13px;
  border: none;
}

.login-btn {
  background-color: transparent;
  font-size: 19px;
  border: none;
}

i.fa-user::before {
  font-size: 19px;
  color: #ffccc7;
}

i.fa-bars::before {
  font-size: 20px;
  color: #ffa39b;
}

.mid-nav::before {
  width: 7%;
  height: 13px;
  background-color: #f72210;
}

.mid-nav ul {
  width: 95%;
}

.mid-nav ul a {
  font-size: 18px;
}

.bot-nav li {
  display: flex;
}

.bot-nav a {
  align-items: center;
}

.author-profile {
  width: 63px;
  height: 63px;
}

.author-name {
  font-size: 14px;
  color: #555555;
}

.ms-images {
  width: 95px;
  height: 95px;
}

.featured-stories {
  padding-top: 20px;
}

.block-title {
  color: #03030366;
}

.the-debate {
  padding-top: 30px;
}

.magazine-title {
  padding-top: 30px;
}

.opinion {
  margin-top: 28px;
}

.more-stories {
  margin-top: 28px;
}

/*
      ==============================================
                  ****** MAIN ******
      ==============================================
 */

h1 {
  font-size: 22px;
}

#main {
  width: 100%;
  max-width: 1440px;
  height: 100%;
}

article figure img {
  width: 100%;
}

.category {
  background-color: #ffffffe6;
  bottom: 0;
  left: 0;
}

a.article-link {
  font-size: 16px;
}

.mag-category {
  margin: 10px;
  background-color: #ffffffe6;
  bottom: 0;
  left: 0;
  position: absolute;
}

.culture-tag {
  font-size: 13px;
  display: inline-block;
  background-color: #c2d4d7;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}

.mag-tag {
  display: inline-block;
  color: #f72210;
  background-color: #ffffffe6;
  bottom: 40px;
  left: 0;
  position: absolute;
  z-index: 1;
}


.magazine-tag {
  font-size: 13px;
  display: inline-block;
  background-color: #c2d4d7;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}

.newsletter-signup {
  max-width: 300px;
  margin: 0 auto;
  border: 1px solid #e5e5e5;
  background-color: #f4f5f6;
  padding: 20px;
}

.summary p {
  font-family: "Arimo", serif;
  font-size: 13px;
  color: #333;
}

.special-border {
  position: absolute;
  bottom: -16px;
  margin: 0 auto;
  border: 1px solid #d9d9d9;
  min-height: 3px;
  border-right: 0;
  border-left: 0;
}

.vs-icon {
  margin: 0 auto;
  width: 32px;
  height: 32px;
  background-color: black;
  color: #d6d6d6;
  position: relative;
  /* right: 142px; */
  /* bottom: -16px; */
}

.icon-n {
  flex: none;
  display: block;
  width: 29px;
  height: 28px;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg),
    center no-repeat #f72210;
  margin-right: 10px;
}

.icon-ns {
  /* margin-top: 20px; */
  flex: none;
  display: block;
  width: 29px;
  height: 28px;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg),
    center no-repeat #f72210;
  /* margin-right: 10px; */
}


.border-thick {
  border-top: solid 4px #e2e2e2;
}

.see-features {
  position: relative;
  background-color: #f4f5f6;
  width: 100%;
}

.see-features:hover {
  background-color: #999;
}

.sep-issue {
  display: block;
  bottom: 61px;
  left: 15px;
  z-index: 1;
}

.sep-issue a {
  background-color: #f4f5f6;
  padding: 8px 10px;
}

.mag-img {
  object-fit: cover;
}

@media (min-width: 576px) {
  .newsweek-icon {
    width: 132px;
  }

  .subscribe-btn {
    padding: 2px 16px;
    font-size: 13px;
  }
}

@media (max-width: 767px) {
  .border-div {
    margin: 32px 0 10px;
    border-top: solid 1px #e2e2e2;
    padding-top: 18px;
    width: 768px;
    background-color: #f4f5f7;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
  }

  .featured-stories::before {
    content: "";
    display: block;
    height: 18px;
    background-color: #f4f5f7;
    border-top: 1px solid #e2e2e2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .the-debate::before {
    content: "";
    display: block;
    height: 18px;
    background-color: #f4f5f7;
    border-top: 1px solid #e2e2e2;
    position: absolute;
    top: 0;
    left: -15px;
    right: -15px;
  }

  .opinion::before {
    content: "";
    display: block;
    height: 18px;
    background-color: #f4f5f7;
    border-top: 1px solid #e2e2e2;
    position: absolute;
    top: 0;
    left: -15px;
    right: -15px;
  }

  .more-stories::before {
    content: "";
    display: block;
    height: 18px;
    background-color: #f4f5f7;
    border-top: 1px solid #e2e2e2;
    position: absolute;
    top: 0;
    left: -15px;
    right: -15px;
  }

  .my-turn::before {
    content: "";
    display: block;
    height: 18px;
    background-color: #f4f5f7;
    border-top: 1px solid #e2e2e2;
    position: absolute;
    top: 0;
    left: -15px;
    right: -15px;
  }

  .magazine::before {
    content: "";
    display: block;
    height: 18px;
    background-color: #f4f5f7;
    border-top: 1px solid #e2e2e2;
    position: absolute;
    top: 0;
    left: -15px;
    right: -15px;
  }

}

@media (min-width: 768px) {
  /* article figure img {
    min-width: 315px;
  } */

  .the-debate {
    padding-top: 0;
  }

  .opinion {
    margin-top: 0;
  }

  .featured-stories {
    padding-top: 0;
  }

  .newsweek-icon {
    width: 132px;
  }

  .subscribe-btn {
    padding: 2px 16px;
    font-size: 19px;
  }

  i.fa-bars::before {
    font-size: 28px;
    color: #ffa39b;
  }

  .newsletter-signup {
    margin-bottom: 20px;
  }

  .article-link {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .newsweek-icon {
    width: 396px;
  }

  .mid-nav::before {
    position: absolute;
    top: 108px;
    right: 0;
    content: "";
    display: block;
    background-color: #f72210;
    border-left: 12px solid white;
    border-top: 13px solid #f72210;
  }

  .culture-tag {
    font-size: 9px;
    display: inline-block;
    background-color: #c2d4d7;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 1;
  }



}