/*
    ==============================================
                ****** RESET ******
    ==============================================
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: #f72210;
}

/*
      ==============================================
                  ****** GLOBAL ******
      ==============================================
 */

.bg-red {
  background-color: #f72210;
}

/*
      ==============================================
                  ****** HEADER ******
      ==============================================
 */

header {
  width: 100%;
}

.top-nav {
  width: 100%;
}

.newsweek-icon {
  filter: invert(1);
  width: 132px;
}

.weather-icon {
  width: 24px;
}

.subscribe-btn {
  background-color: #ffe400;
  padding: 2px 16px;
  border: none;
}

.login-btn {
  background-color: transparent;
  border: none;
}

/* .special-border {
  margin-right: 22px;
  padding-right: 22px;
  border-right: solid 1px #aaa;
} */

.bot-nav li {
  display: flex;
}

.bot-nav a {
  align-items: center;
}

@media (min-width: 992px) {
  .newsweek-icon {
    width: 396px;
  }
}
