/*
    ==============================================
                ****** RESET ******
    ==============================================
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #333;
}

/*
      ==============================================
                  ****** GLOBAL ******
      ==============================================
 */

.bg-red {
  background-color: #f72210;
}

/*
      ==============================================
                  ****** HEADER ******
      ==============================================
 */

.newsweek-icon {
  filter: invert(1);
  width: 396px;
}

.weather-icon {
  width: 24px;
}

.subscribe-btn {
  background-color: #ffe400;
  padding: 2px 16px;
  border: none;
}

.login-btn {
  background-color: transparent;
  border: none;
}

.special-border {
  margin-right: 22px;
  padding-right: 22px;
  border-right: solid 1px #aaa;
}
